/**
 * QR Auth Page
 */

/**
 * QR Code
 */

.QRCode {
  border-radius: 12px;
  width: 220px !important;
  height: 220px !important;
}

/**
 * Responsiveness
 */

@media screen and (min-width: 600px) {
  .QRCode {
    width: 300px !important;
    height: 300px !important;
  }
}

@media screen and (min-width: 2000px) {
  .QRCode {
    width: 400px !important;
    height: 400px !important;
  }
}
