/**
 * Fluid Checkbox
 */

.wrap {
  position: relative;
}

.input {
  position: absolute;
  clip: rect(0,0,0,0);
}

.label {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5em;
  transition: background-color 0.08s;
  border-radius: 10px;

  a {
    color: inherit;
    text-decoration: none;
    border-bottom: 2px solid #FFF;

    &:hover {
      opacity: 0.9;
    }

    &:active {
      opacity: 0.75;
    }
  }
}

.labelText {
  font-size: 0.9em;
}

.labelText, .circle {
  margin: 0 0.3em;
}

.circle {
  width: 3vw;
  height: 3vw;
  min-width: 20px;
  max-width: 24px;
  max-height: 24px;
  min-height: 20px;
  flex-shrink: 0;
  flex-grow: 0;
  border: 2px solid #FFF;
  border-radius: 999px;
  transition: background-color 0.15s;
  display: flex;
  justify-content: center;
  align-items: center;

  svg {
    width: 65%;
    height: 65%;
    fill: #FFF;
    opacity: 0;
    transform: translateY(-10%);
    transition: opacity 0.09s, transform 0.05s;
  }
}

.input:checked + .label .circle {
  background-color: #2ecc71;

  svg {
    opacity: 1;
    transform: translateY(0);
  }
}

/**
 * Error state
 */
.wrap.hasError {
  .label {
    background-color: rgba(255,77,77, 0.15);
    // color: #ff4d4d;
    // a {
    //   border-color: #ff4d4d;
    // }
  }
  .circle {
    // border-color: #ff4d4d;
  }
}

/**
 * Hover, active, focus states
 */

  .label:hover {
    cursor: pointer;
  }

  .wrap .label:hover,
  .wrap .input:focus + .label {
      background-color: rgba(0, 0, 0, 0.04);
  }

  .wrap .input:active + .label {
    background-color: rgba(0, 0, 0, 0.08);
  }
