.formWrap {
  max-width: 400px;
  width: 100%;
  margin: auto;
  font-size: 0.8em;

  input, button {
    width: 100%;
  }

  button {
    margin-top: 0.6em;
    min-width: 0;
  }
}


@media screen and (min-width: 768px) {
  .formWrap {
    width: 60vw;
  }
}

@media screen and (min-width: 1100px) {
  .formWrap {
    max-width: 460px;
    width: 60vw;
  }
}

@media screen and (min-width: 1800px) {
  .formWrap {
    font-size: 0.66em;
    max-width: 550px;
  }
}
