/**
 * Gradients
**/

.gradient-blue-violet {
  background-color: #B257FF;
  background: linear-gradient(33deg, #49D6F7 20%, #B257FF 80%);
}

.gradient-purple-orange {
  background-color: #FF8E2E;
  background: linear-gradient(33deg, #FE63DA 20%, #FF8E2E 80%);
}

.gradient-green-blue {
  background-color: #47D7F8;
  background: linear-gradient(33deg, #47D7F8 20%, #25F193 80%);
}
